.banner {
    height: 100%;
    min-height: 100%;
    width: 100%;
    background-image: url("./Imagen1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
    z-index: -1;
    color:#8eb6dc;
    left:0px;
    top:-100px;
    position:absolute;
}
.contacto {
    height:50px;
    width:100px ;
    background-color:white;
    position: sticky;
    top: 2%;
    left:87%;
    display:inline-block;
    position: -webkit-sticky;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    cursor:pointer; 
    z-index: 10;
}
.cuerpo {
    background-image: url("./imagen_fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    height: 100%;
    min-height: 100%;
    width: 100%;
    z-index: -1;
    top:100%;
    position:absolute;
    background-color: color(#8eb6dc, 100%);
}
.fondo {
    margin:0px; 
    background-color:azure;
}
.cuerpo2 {
    width: 100%;
    top: 400%;
    background-image: linear-gradient(#8eb6dc, #7cb1e4);
    position:absolute;
    height:100px;
}
.cita {
    text-align: center;
    font-style: italic;
    font-size: 46px;
    margin-block-start: 200px;
    margin-block-end: 25px;
    width: 40%;
    margin-left: 50%;
    position:relative;
    margin-right: 15%;
    display:grid;
}
.cita2 {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-block-end: 25px;
    width: 40%;
    margin-left: 50%;
    display:grid;
}
.cuerpo3 {
    min-height: fit-content;
    height: 100%;
    min-height: 100%;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(#8eb6dc, #fafafa);
    display:grid;
    position:absolute;
    top:200%;
    grid-template-columns:auto auto;
    font-family:Lucida Bright;
    font-weight: 400;
}
.cuerpo3 > div {
    text-align: left;
    padding-top: 80px;
    padding-left:80px;
    font-size: 30px;
}
.cuerpo4 {
    display:grid;
    position:relative;
}
form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 70%;
    margin: 5 auto;
    z-index: 1;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="Telefono"],
  textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  textarea {
    height: 150px;
  }
  button[type="submit"]:hover {
    background-color: #1E90FF;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border-color: #00BFFF;
  }

  button[type="submit"] {
    background-color: #00BFFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  .google-map iframe {
    position: absolute;
    filter: grayscale(100%);
    max-width:100%;
    width:100%;
    height: 100%;
    min-height: 100%;
    top:300%;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: #000000;
    color: white;
  }